html, body {
  width: 100%;
  height: 100%;
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
  justify-content: space-around;
  margin-top: 70px;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.gif-container {
  border: 2px solid rgb(146, 220, 227);
  margin: 5px;
  flex: 1 1 45%;
}


.gif-details {
  display: inline-block;
  width: 45%;
  padding: 25px;
}

.gif-details a h5 {
  font-size: x-large;
}

.gif-details p {
  font-size: large;
  color: #f4f1de
}

.like-btn {
  background: #ff6243;
  font-weight: bold;
}

.gifs-size {
  width: 350px;
  height: 350px;
  display: inline-block;
  vertical-align: top;
  padding: 25px;
}

header, main, footer {
  flex-shrink: 0;
}

header {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  background-color: #98eebc;
  border-radius: 4px;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
}

header ul {
  display: flex;
  justify-content: space-between;
  flex: 0.33;
  list-style: none;
  height: 55px;
}

header ul li {
  border-radius: 7px
}


#container-gifs {
  justify-content: space-around;
}

nav {
  height: 100%;
}

.nav-wrapper {
  background-color: rgb(146, 220, 227);
}
.footer-wrapper {
  background-color:  rgb(93, 93, 129);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 0;
}
#trending-btn {
  background-color: #ff6243;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 600;

}
#favourites-btn {
  background-color: #ff6243;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 600;
}
#my-gifs-btn {
  background-color: #ff6243;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 600;
}
#upload-btn {
  background-color: #ff6243;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 600;
  display: none;
}

#search {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f4f1de;
  font-style: italic;
  display: inline;
}
#upload-not-hidden {
  background-color: #ff6243;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 600;
}


.label-icon >img {
  width: 30px;
  height: 40px;
  margin: 10px;
}

#form {
  margin: 5px;
}
.authors-text{
  color: rgb(244, 241, 222);
}
.content-text{
  color:  rgb(244, 241, 222);
}
.content-text-info{
  color:  rgb(244, 241, 222);
}
.container-rights{
  color:  rgb(244, 241, 222);
}
.content{
  color:  rgb(244, 241, 222);
}
.text-here{
  color:  rgb(244, 241, 222);
}
.page-headers {
  text-align: center !important;
  font-weight: bolder  !important;
  font-size: xx-large  !important;
  color:  rgb(244, 241, 222);
  padding: 10px;
  flex: 1 100%;
}
.page-headers span {
  padding: 10px;
  background: #ff6243; 
  border-radius: 10px;
}


@media screen and (max-width: 845px) {
  #trending-btn {
    width: 99px;
    margin-top: 2px !important;
    height: 31px;
    font-size: 15px;
  }
  #favourites-btn {
    width: 99px;
    margin-top: 2px !important;
    height: 31px;
    font-size: 15px;
  }
  #my-gifs-btn {
    width: 99px;
    height: 31px;
    font-size: 15px;

  }

  #search {
  width: 55px;
  height: 60px;
  padding: 0px;
  }
  #upload-not-hidden {
    width:99px;
    height: 31px;
    font-size: 15px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #98eebc;
    border-radius: 4px;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin: 0;
    padding: 0;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav-wrapper {
    display: grid;
    grid-template-columns:70px auto auto auto;
    grid-template-rows: 35px 35px;;
  }


  header ul li a {
    padding: 0 !important;
    margin: 0 !important;
  }
  .label-icon {
    display: none;
  }
  .material-icons {
    display: none !important;
  }
  #img-btn {
    grid-column: 1;
  }

  .right {
  display: grid;
  grid-gap: 5px;
  line-height: 5px;
  }

  #tr-btn {
    grid-row: 1;
    grid-column: 3;
  }
  #fav-btn {
    grid-row: 1;
    grid-column: 4;
  }
  #mgif-btn{
    grid-row: 1;
    grid-column: 3;
    padding-top: 37px;
  }
  #upl-btn {
    grid-row: 1;
    grid-column: 4;
    padding-top: 37px;
  }
  #srch-btn {
    grid-column: 2;
    grid-row: 1;
  }
}







